---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const name = "Hola soy luisangel";
const date = new Date();
const currentYear = date.getFullYear();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Mi web site en astro {name}</h1>

			<span>
				© {currentYear}, {name}.
			</span>
		</main>
	</body>
</html>
