---
import BaseHead from "../components/BaseHead.astro";
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import NavMenu from "../components/Menu.astro";

import "../styles/global.css";

const titulo = "About me sobre mi sitio en astro";
const title = "About";
const name = "Hola soy luisangel";
const date = new Date();
const currentYear = date.getFullYear();

const identidad = {
    primerNombre: "Luisangel",
    SegundoNombre: "Ramirez",
    Pais: "Republica Dominicana",
    Cargo: "Vendedor de Laptops",
    Hobbies: ["Programar", "Basketball", "Jugar video juegos"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const colorSkills = "blue";
const fontsize = "20px";
---

<html lang="en">
    <head>
        <style define:vars={{ colorSkills, fontsize }}>
            html {
                background-color: #f1f5f9;
                font-family: sans-serif;
            }

            body {
                margin: 0 auto;
                width: 100%;
                max-width: 80ch;
                padding: 1rem;
                line-height: 1.5;
            }

            * {
                box-sizing: border-box;
            }

            h1 {
                margin: 1rem 0;
                font-size: 2.5rem;
            }

            /* Tabla de skills variables css */
            .skilss {
                color: var(--colorSkills);
                font-weight: bold;
                font-size: var(--fontsize);
            }
        </style>
        <BaseHead title={title} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <NavMenu />
        <h1>{titulo}</h1>

        <ul>
            <li><a href="/posts/posts-1/">Post 1</a></li>
            <li><a href="/posts/post-2/">Post 2</a></li>
            <li><a href="/posts/post-3/">Post 3</a></li>
        </ul>
        <p>Aqui unos cuantos datos sobre mi:</p>
        <ul>
            <li>Mi nombre es {identidad.primerNombre}.</li>
            <li>
                Vivo en {identidad.Pais} Y trabajo de {identidad.Cargo}.
            </li>
            {
                identidad.Hobbies.length >= 2 && (
                    <li>
                        Two of my hobbies are: {identidad.Hobbies[0]} and{" "}
                        {identidad.Hobbies[1]}
                    </li>
                )
            }
        </ul>
        <p>Mis skills son:</p>
        <ul>
            {skills.map((skill) => <li class="skilss">{skill}</li>)}
        </ul>

        {happy && <p>I am happy to be learning Astro!</p>}

        {finished && <p>I finished this tutorial!</p>}

        {
            goal === 3 ? (
                <p>My goal is to finish in 3 days.</p>
            ) : (
                <p>My goal is not 3 days.</p>
            )
        }
    </body>
</html>
